 <h1>"Welcome, <%= current_user.name%>!"</h1>

<%days = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]%>

    <%days.each do |day|%>
    <h3><%=day.capitalize %> </h3>
    <% current_user.animes.where(day: day).each do |anime|%>
     <li>
        <a href="/animes/<%=anime.id%>"><%= anime.title %></a>
      </li>
   <%end%>
 <%end%>

<a href="/animes/edit">Edit Anime </a>
<br>
<a href="/reviews">My Reviews</a>
<br>
<a href="/logout">Log Out</a>



