<h1>This is the Model's index page.</h1>
<!DOCTYPE html>
<html>
    <head>
    
    </head>
    <body>
        <h1>Choose your Anime</h1>
        <form>
            <%=Anime.all %>
        </form>
    </body>
</html>